snippet const
	(defconstant +${1:name}+ ${2:value} "${3:Documentation for $1.}")
snippet par
	(defparameter *${1:name}* ${2:value} "${3:Documentation for $1.}")
snippet var
	(defvar *${1:name}* ${2:value} "${3:Documentation for $1.}")
