snippet at
	REM ${1:`LANG=en_US date +'%b'`} ${2/^(.)$|.*/(?1: )/}${2:`date +'%e'`} ${3:`date +'%Y'`}${4: AT ${5:16}:${6:00}} MSG ${0:message}
snippet rem
	REM ${1:`LANG=en_US date +'%b'`} ${2:`date +'%e'`} ${3:`date +'%Y'`} MSG ${0:message…}
